@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #0F0F0F;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
}

.list{
    margin-bottom: 180px;
    margin-top: 40px;
}

.list-title{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 64px;
}

.list__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__inner-item{
    background: #DAD9D9;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.list__inner-hint{
    width: 500px;
    margin: 5px 0 20px;
    background: #fff3f3aa;
    display: none;
}

.hint__show{
    display: block;
}

.hint__show-arrow{
    rotate: 180deg;
}

.list__inner-item:hover{
    cursor: pointer;
}

.list__inner-text{
    margin: 18px 24px;
    font-size: 19px;
    line-height: 30px;
}

.list__inner-arrow{
    margin-right: 25px;
}

@media(max-width:1300px){
    .container{
        margin: 0 10px;
    }
}

@media(max-width: 700px){
    .list{
        margin-bottom: 70px;
    }
}

@media(max-width: 650px){
    .list__inner-item,
    .list__inner-hint{
        width: 300px;
    }
    .list__inner-text{
        font-size: 16px;
        margin: 10px 5px 8px 10px;
    }
    .list__inner-arrow{
        margin-right: 8px;
    }
}

@media(max-width: 500px){
    .list-title{
        font-size: 30px;
        margin-bottom: 35px;
    }
    .list__inner-item,
    .list__inner-hint{
        width: 280px;
    }
}